.feature__text {
  @include font(14px, 400, 1.71, 0.03em);
  color: var(--secondary-text-color);
}

.feature__thumb {
  height: 120px;
  width: 270px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  background-color: var(--primary-white-color);
}

.feature__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.feature__list {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}
